.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: var(--gap-medium);
  justify-items: center;
  transition: all var(--easing-quick) var(--duration-medium);
}

.PostCardImage {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: var(--radius-larger);
  aspect-ratio: var(--comp-ar);
}