:root {
  --layer-bg: 1;
  --layer-effect: 2;
  --layer-content: 3;
  --layer-media: 5;
  --layer-nav: 6;
  --layer-overlay: 7;
}

h1,
h2,
h3,
h4,
p,
span,
a,
button {
  z-index: var(--layer-content);
}

img, svg {
  position: relative;
  z-index: var(--layer-media);
}
