.GradientText {
  @media not (prefers-contrast: more) {
    font-weight: var(--weight-bolder);
    color: black;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
